@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;800&display=swap');

/*fd4c5c color botones*/

.clear{
    clear: both;
    height: 0px;
    border: none;
}

*{
    margin: 0;
    font-family: 'Karla', sans-serif;

}

header{
    
    width: 100%;
    height: 950px;
    background-image: url(../images/angel.jpg);
    background-size:cover;

}

header h1{
    font-size: 300px;
    color: #fff;
    float: left;
    margin: 300px 0 0 550px;
    font-weight: 500;
}


#diferente{
    background: -webkit-radial-gradient(#da0170,#fa4a54);
    -webkit-background-clip:text;
    color: transparent;
}


.primero{
    margin: 260px 150px 0px 150px ;
    height: 838px;

}

.mitad{
    width: 500px;
    float: left;
    margin-top: 140px;
    padding: 10px;
}



 .mitad h2{
    font-size: 80px;
    margin-left: 50px;

    
} 
.primero p{
    float: left;
    font-size: 30px;
    width: 820px;
    margin-left: 50px;
    
}
.primero-img{
    float: right;
    
}
button{
    background-color: #fd4c5c;
    padding: 25px 95px 25px 95px;
    float: left;
    margin: 40px 0 0 40px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
}

.segundo{
    margin: 260px 50px 150px 150px ;
    height: 838px;

}


.mitad2 h2{
    font-size: 80px;
    margin:0 0 0 10px;
}
.segundo-img{
    float: left;
    margin-left: 20px;
}
.mitad2{
    width: 780px;
    float: right;
    margin-top: 140px;
    padding: 10px;
    margin: 100px 0px 0 0;
}
.mitad2 p{
    font-size: 30px;
    margin:0 0 0 10px;

}
.mitad2 button{
    margin: 40px 0 0 0;
}



.tercero{
    background-image:url(../images/raptis.png) ;
    background-size: cover;
    height: 750px;
}

.tercero h3{
    float:right;
    color: #fff;
    font-size: 80px;
    width: 600px;
}

.tercero p{
    float: right;
    width: 600px;
    color: #fff;
    font-size: 30px;
}

.last{
    width: 600px;
    float: right;
    margin: 200px 220px 0 0;
}

li{
    list-style: none;
    margin: 0 0 20px 0 ;
}

footer{
    background-color: #fd4c5c;
    height: 500px;
}

footer div{
    
    width: 300px;
    float: left;
    height: 360px;
    color: #fff;
    font-weight: 500;
    border-bottom: 2px solid #ffffff6d ;

    
}
ul{
    float: left;
}

.arriba{
    margin: 60px 0 50px 0 ;
}

#solito{
    margin: 0 0 0 300px;
}

footer p{
    color: #fff;
}

.footeriz{
    float: left;
    margin-top: 30px;
    margin-left: 310px;
    height: 30px;
    border: none;
}

.footerdere{
    float: right;
    margin: 30px 310px 0 0;
    height: 30px;
    border: none;
}